.callToActionContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin:0 auto;
    background-color: whitesmoke;
}


